/*#logo {
    width: 255px;
    height: 66px;
    background: url(logo_green.svg) no-repeat 0 0;
    background-size: contain;
    }
.sticky_logo {
    width: 255px;
    height: 66px;
    background: url(logo_green2.svg) no-repeat 0 0;
    background-size: contain;
    }
    */
    a.nav-link:hover {
        background-color:#0F9D58;
    }
    a.nav-link.dropdown-item:active {
        background-color:#0F9D58;
    }
.padding {
    padding: 25px 0px;
}

.col-md-3 {

display:flex;
align-content:center;
justify-content:center;
}
.middle {
display:flex;
align-items:center;
justify-content:center;
}

ul li {
    list-style: none;
}



a {
    color:#000;
    text-decoration:underline;
}
.nav-link {
    text-decoration: none;
}
a:hover {
    color:#0F9D58;
}

#india, #us, #bbc {
    cursor: pointer;
}
.style-padding {
    padding-top:20px;
}

@media all and (max-width:768px) {
    #myUl {
        font-size:1em;
    }
     ul > li > a {
        text-decoration: underline;
    }
    
    p, a {
        font-size:1em;
    }
    h1 {
        font-size:1.6em;
    }
    h2 {
        font-size:1.5em;
    }
    h3 {
        font-size:1.4em;
    }
    h4 {
        font-size:1.3em;
    }
    h5 {
        font-size:1.1em;
    }
    
    .style-padding {
        padding-top:0px;
    }
    .middle {
        padding-top:20px;
    }
    .top-padding {
        padding-top:25px;
    }
    h2.display-4 {
        font-size:2.5em;
    }
}

@media all and (max-width:350px) {
    
    p, a {
        font-size:0.8em;
    }
    p.text-center > a {
        font-size:1em;
    }
    h1 {
        font-size:1.4em;
    }
    h2 {
        font-size:1.3em;
    }
    h3 {
        font-size:1.2em;
    }
    h4 {
        font-size:1.1em;
    }
    h5 {
        font-size:0.9em;
    }
   h2.display-4 {
       font-size:2.2em;
   }
}
@media all and (max-width:250px) {
    
    span.navbar-toggler-icon {
    height:5px;
    width:5px;
    text-align:center;
    line-height:100%;
    vertical-align:middle;
    }
    
    .navbar-toggler{
    height:20px;
    width:20px;
    }
    p, a {
        font-size:0.7em;
    }
    p.text-center > a {
        font-size:0.9em;
    }
    h1 {
        font-size:1.3em;
    }
    h2 {
        font-size:1.2em;
    }
    h3 {
        font-size:1.1em;
    }
    h4 {
        font-size:1em;
    }
    h5 {
        font-size:0.8em;
    }
   h2.display-4 {
       font-size:2.1em;
   }
}